<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>

    <add key="SolutionFactoryKey" value="SolutionFactoryMVC"/>
    <add key="SolutionFactoryFriendlyKey" value="SolutionFactoryFriendlyMVC"/>
    <add key="FileExtensionsToEdit" value=".cs|.csproj|.config|.cshtml|.asax|.tt|.json|Dockerfile|.gitignore|.dcproj|.yml|.ps1|.razor|.js|.bat|.xml"/>
    <add key="URLs" value="https://localhost:5001;http://localhost:5000;https://localhost:9001;http://localhost:9000;https://localhost:7180;http://localhost:5109" />
      
  </appSettings>
</configuration>