<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>

    <add key="SolutionFactoryKey" value="SolutionFactory"/>
    <add key="SolutionFactoryFriendlyKey" value="SolutionFactoryFriendly"/>

    <add key="FileExtensionsToEdit" value=".cs|.csproj|.config|.cshtml|.asax|.tt|.json|Dockerfile"/>

  </appSettings>
</configuration>