<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentPath" version="1.2.1" targetFramework="net462" />
  <package id="NLog" version="4.4.11" targetFramework="net462" />
  <package id="Onion.SolutionParser.Parser" version="1.0.0.0" targetFramework="net462" />
  <package id="PowerArgs" version="2.8.1.0" targetFramework="net462" />
</packages>